@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

@keyframes float {
    0%, 100% { transform: translateY(0); }
    50% { transform: translateY(-20px); }
}
@keyframes title {
    0% { opacity: 0; transform: scale(0.9); }
    100% { opacity: 1; transform: scale(1); }
}
.animate-float {
    animation: float 3s ease-in-out infinite;
}
.animate-float-delayed {
    animation: float 3s ease-in-out 1s infinite;
}
.animate-float-slow {
    animation: float 4s ease-in-out 2s infinite;
}
.animate-title {
    animation: title 1s ease-out forwards;
}

@keyframes pulse-slow {
    0%, 100% { opacity: 0.1; }
    50% { opacity: 0.3; }
  }
  @keyframes pulse-slower {
    0%, 100% { opacity: 0.1; }
    50% { opacity: 0.2; }
  }
  .animate-pulse-slow {
    animation: pulse-slow 4s ease-in-out infinite;
  }
  .animate-pulse-slower {
    animation: pulse-slower 6s ease-in-out infinite;
  }

  @keyframes twinkle {
    0%, 100% { opacity: 0.2; }
    50% { opacity: 1; }
  }
  
  .animate-twinkle {
    animation: twinkle 3s ease-in-out infinite;
  }
  
  .animate-twinkle-delayed {
    animation: twinkle 3s ease-in-out infinite;
    animation-delay: 1.5s;
  }